* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid limegreen !important;
  */
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: rgb(0, 169, 140)
}

#menu a.active {
  color: #017a66;
  text-shadow: 0 0 2px #fff0f7, 0 0 3px #00fff2;
}

.contentGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

canvas {
  border: 1px dotted red;
}

.chart-container {
  position: relative;
  margin: 5px;
  height: 50vh;
  width: 70vw;
  max-width: 740px;
}

.greyBtn {
  background-color: rgba(145, 145, 145);
}

.pinkBtn {
  background-color: rgba(255, 99, 132);
}

@media screen and (max-width: 769px) {
  .contentGrid {
    grid-template-columns: auto 210px;
  }

  .chart-container {
    width: 500px;
  }


}